* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

/* --- WORKSPACES --- */
#workspaces button {
    padding: 0px 5px;
    color: #ffffff;
    margin-right: 5px; 
}

#workspaces button:last-child {
    margin-right: 0px; 
}

#workspaces button.active {
    color: #1e1e2e;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border-radius: 10px;
}

/* --- MODULI INTERNI --- */
#clock,
#pulseaudio,
#network,
#bluetooth,
#battery {
    padding: 0 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    color: #11111b;
}

#clock { background: #fab387; margin: 0; }
#pulseaudio { background: #89b4fa; margin-right: 5px; margin-left: 0px; }
#pulseaudio.microphone { background: #f38ba8; margin-right: 5px; }

/* Network Connesso (Verde) */
#network { background: #a6e3a1; margin-right: 5px; }

/* Network Disconnesso (Attivo ma niente IP) -> Arancione/Pesca */
#network.disconnected {
    background: #fab387; 
}

/* Network Disabilitato (Spento) -> Grigio o un altro colore a scelta */
#network.disabled {
    background: #bac2de; 
}

#bluetooth { background: #cba6f7; margin-right: 5px; }
#battery { background: #f9e2af; margin-right: 0px; }
#battery.charging, #battery.plugged { background: #a6e3a1; }
#battery.critical:not(.charging) {
    background: #f38ba8; 
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink { to { background-color: #fab387; } }

/* --- CONTENITORI --- */
.modules-left {
    background: transparent;
    border: none;
    margin-top: 4px;
    margin-left: 10px;
    padding: 0;
}

#workspaces, #custom-media {
    background: #1e1e2e;
    padding: 2px 10px;
    border-radius: 20px;
    border: 1px solid #313244;
    color: #cdd6f4;
}

#custom-media {
    margin-left: 10px;
    min-width: 50px;
}

.modules-center {
    background: #1e1e2e;
    margin-top: 4px;
    padding: 2px 10px; 
    border-radius: 20px;
    border: 1px solid #313244;
}

.modules-right {
    background: transparent;
    margin-top: 4px;
    margin-right: 10px;
    padding: 0;
    border: none;
}

/* BOX GRIGI DI DESTRA */
#tray, #hardware, #custom-power, #custom-reboot {
    background: #1e1e2e;
    padding: 2px 10px;
    border-radius: 20px;
    border: 1px solid #313244;
    margin-left: 10px;
}

#custom-power {
    color: #f38ba8;
    padding-left: 12px;
    padding-right: 15px;
    font-size: 16px;
}

#custom-reboot {
    color: #fab387; 
    padding-left: 12px;
    padding-right: 15px;
    font-size: 16px;
}

#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; background-color: #eb4d4b; }
